---
layout: default
title: Arthur Gonigberg
---

{% for post in site.posts limit:5 %}
			<div class="box">
				<h3>{{post.title}}</h3>
        <div class="clearfix"></div>
				<div class="right big">
            {% assign breakIndex = -1 %}
            {% for element in post.content %}
              {% if element contains '<!--more-->' %}
                {% assign breakIndex = forloop.index %}
              {% endif %}
            {% endfor %}

            {% for element in post.content limit: breakIndex %}
              {{ element }}
            {% endfor %}

					<p><a href="{{post.url}}">Read this entry...</a></p>
				</div>
			</div>
{% endfor %}
