<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!--
**************************************************************
*                                                            *
*       Thanks for your interest in the source code!         *
*     This website is hand-coded the old fashioned way.      *
*     Feel free to use or re-use any part of this site.      *
*  This design is adapted from an original by John O'Nolan.  *
*                                                            *
*                                               - Arthur G.  *
**************************************************************
-->

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" /> 
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" /> 
    <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ site.url}}/atom.xml" />

    <meta name="description" content="{{ page.meta-description }}" />
    <meta name="keywords" content="arthur, gonigberg, blog, java, tech, programming, xml, frameworks, code, coding, architecture" />
    <link rel="canonical" href="http://blog.gonigberg.com/" />
    <meta name="google-site-verification" content="aqLgYQYx0RJnTELokuzelTUZOpcf69AJ5AloAVUfR_8" />
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27084052-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<ul id="nav">
				<li id="first"><a href="/">Recent</a></li>
				<li><a href="/archive">Archive</a></li>
				<li><a href="#">Resume</a></li>
			</ul>
      <h2 id="arthurHeader"><span class="oranje">Arthur</span>Gonigberg</h2>
			<div class="clearfix"></div>
		</div><!--header-->
		<div id="content">

      {{ content }}

		</div><!--content-->
	</div><!--wrapper-->
	<div id="footer">
		<div class="inner">
      <div class="about">
			  <p><img src="/images/me.jpg" alt="me" /></p>
        <p>Hello, I'm Arthur. I work as a Software Developer in Vancouver, Canada. <br/><br/>Feel free to contact me using any of the links on right.</p>

        <p>Currently my focus is on agile, test-driven software design and development for Java web services and Java-based web applications. This site is largely dedicated, but not limited to, topics in these areas.</p>
        <div id="socialWrapper">
          <ul id="social">
            <li><a href="mailto:arthur@gonigberg.com"><img src="/images/email.png" alt="Email" height="32" width="32"/></a></li>
            <li><a href="http://twitter.com/agonigberg"><img src="/images/twitter.png" alt="Twitter" height="32" width="32"/></a></li>
            <li><a href="https://plus.google.com/106096806381566966975/posts"><img src="/images/google.png" alt="Google Plus" height="32" width="32"/></a></li>
            <li><a href="http://linkedin.com/in/artgon"><img src="/images/linkedin.png" alt="LinkedIn" height="32" width="32"/></a></li>
            <li><a href="http://github.com/artgon"><img src="/images/github.png" alt="Github" height="32" width="32"/></a></li>
          </ul>
        </div>
      </div>
			<div class="clearfix"></div>
			<div class="credits left">&copy; Copyright {{ 'now' | date: "%Y "}} <a href="http://arthur.gonigberg.com"><span class="oranje">Arthur</span>Gonigberg</a></div>
			<div class="credits right">Adapted from layout by <a href="http://john.onolan.org">John <span class="oranje">O’No!</span>an</a></div>
		</div>
	</div><!--footer-->
</body>
</html>
